{% block content %}
<div class="menu_indicadores">
    <ul>
        <div class="titulo_menu">
         Salidas E <a href="/indicadores"></a>   
        </div>
            <li><a href="/e/incidencia-enfermedades/" >Incidendia enfermedades</a></li>
            <li><a href="/e/impacto-roya/" >Impacto de la roya</a></li>
            <li><a href="/e/cambio-poda/" >Cambio de poda</a></li>
            <li><a href="/e/cambio-recepo/" >Cambio de recepo</a></li>
            <li><a href="/e/cambio-variedad/" >Cambio de variedades</a></li>
            <li><a href="/e/manejo-sombra/" >Cambio de manejo de sombra</a></li>
            <li><a href="/e/fertilizacion/" >Cambio de fertilización</a></li>
            <li><a href="/e/fungicidas/" >Cambio de fungicidas</a></li>
    </ul>
</div>
{% endblock %}
