{% block content %}
<div class="menu_indicadores">
    <ul>
        <div class="titulo_menu">
         información general  <a href="/indicadores"></a>   
        </div>
            <li><a href="/a/informacion/">Informacion General</a></li>
            <li><a href="/a/ubicacion/">Ubicacion</a></li>
            <li><a href="/a/servicios/">Servicios basicos</a></li>
            <li><a href="/a/dependietes/">Dependientes</a></li>
            <li><a href="/a/conexion/">Conexiones</a></li>
            <li><a href="/a/servicios/">Servicios basicos</a></li>
            <li><a href="/a/recursos/">Los recursos naturales</a></li>
    </ul>
</div>
{% endblock %}
