{% block filtro %}
<div id="filtrosbar">
        <span class="variables">Filtro 1</span>
         {% if request.session.departamento%}
        <span class="variables_filtro"><b>Departamento:</b> {% for a in request.session.departamento.all %}{{a}},{%endfor%}</span>
        {%else%}
            <span class="variables_filtro"><b>Departamentos:</b>Todos</span>
        {% endif %}
        {% if request.session.municipio%}
        <span class="variables_filtro"><b>Municipio</b>: {%for j in request.session.municipio.all%}{{j}},{%endfor%}</span>
        {%else%}
            <span class="variables_filtro"><b>Municipio:</b>Todos</span>
        {%endif %}

        {% if request.session.altitud%}
        <span class="variables_filtro"><b>Altitud:</b>{%if request.session.altitud = '1'%}400-800{%endif%}
        {%if request.session.altitud = '2'%}801-1200{%endif%}{%if request.session.altitud = '3'%}Más de 1201{%endif%}</span>
        {%else%}
            <span class="variables_filtro"><b>Altitud:</b>Todos</span>
        {%endif%} 

        {% if request.session.empresa%}
        <span class="variables_filtro"><b>Municipio</b>: {%for j in request.session.empresa.all%}{{j}},{%endfor%}</span>
        {%else%}
            <span class="variables_filtro"><b>Municipio:</b>Todos</span>
        {%endif %}

        {% if request.session.area_finca%}
        <span class="variables_filtro"><b>Área finca:</b>{%if request.session.area_finca = '1'%}1-10 mz{%endif%}
        {%if request.session.area_finca = '2'%}11-50 mz{%endif%}{%if request.session.area_finca = '3'%}Más de 50{%endif%}</span>
        {%else%}
            <span class="variables_filtro"><b>Área finca:</b>Todos</span>
        {%endif%} 

        {% if request.session.area_cafe%}
        <span class="variables_filtro"><b>Área cafe:</b>{%if request.session.area_cafe = '1'%}1-10 mz{%endif%}
        {%if request.session.area_cafe = '2'%}11-50 mz{%endif%}{%if request.session.area_cafe = '3'%}Más de 50{%endif%}</span>
        {%else%}
            <span class="variables_filtro"><b>Área cafe:</b>Todos</span>
        {%endif%} 
        
</div>


<div id="filtrosbar">
        <span class="variables">Filtro 2</span>
        {%if request.session.nivel_educacion%}
        <span class="variables_filtro"><b>Nivel educativo:</b>{%if request.session.nivel_educacion = '1'%}NSLE{%endif%}{%if request.session.nivel_educacion = '2'%}PRIn{%endif%}{%if request.session.nivel_educacion = '3'%}PRC {%endif%}{%if request.session.nivel_educacion = '4'%}SECIN{%endif%}{%if request.session.nivel_educacion = '5'%}Bach{%endif%}{%if request.session.nivel_educacion = '6'%}Univ{%endif%}</span>{%else%}<span class="variables_filtro"><b>Nivel educativo:</b>Todas</span>{%endif%} 

        {%if request.session.variedad_predominate%}
        <span class="variables_filtro"><b>Variedad predominante:</b>{{request.session.variedad_predominate }}</span>{%else%}<span class="variables_filtro"><b>Variedad predominante</b>Todos</span>{%endif%} 

        {%if request.session.variedad_viviero%}
        <span class="variables_filtro"><b>Variedad viviero:</b>{{request.session.variedad_viviero }}</span>{%else%}<span class="variables_filtro"><b>Variedad viviero</b>Todos</span>{%endif%} 

        {% if request.session.reduccion_cosecha%}
        <span class="variables_filtro"><b>Reducción cosecha:</b>{%if request.session.reduccion_cosecha = '1'%}0% - 10%{%endif%}
        {%if request.session.reduccion_cosecha = '2'%}11% - 30%{%endif%}{%if request.session.reduccion_cosecha = '3'%}Más de 31%{%endif%}</span>
        {%else%}
            <span class="variables_filtro"><b>Reducción cosecha:</b>Todos</span>
        {%endif%} 

        {%if request.session.credito%}
        <span class="variables_filtro"><b>Credito:</b>{{request.session.credito }}</span>{%else%}<span class="variables_filtro"><b>Credito:</b>Todos</span>{%endif%} 
       
        
</div>




{% endblock %}
