{% extends "base.html" %}
{% block extrahead %}

{% endblock %}
{% block content %}
{% include "encuesta/filtro.html"%}
{% if request.session.centinel == 1 %}
<div class="indicadores">
<br>
{% if user.is_authenticated %}
<div class="botones-descarga"><a href="/descargar/ident"><img src="/static/img/identificadores1.png"></a><a href="/descargar/spss"><img src="/static/img/xls1.png"></a>
</div>
{% endif %}
            <div class="titulo" style="float:left;">Indicadores (#encuestas encontradas {{encuestas}})</div><br><br>
    <div id="dashboard">

        <ul id="familia">
            <b>Entorno general</b>
            <li><a href="/a/informacion/">Informacion General</a></li>
            <li><a href="/a/ubicacion/">Ubicacion</a></li>
            <li><a href="/a/servicios/">Servicios basicos</a></li>
            <li><a href="/a/dependientes/">Dependientes</a></li>
            <li><a href="/a/conexion/">Conexiones</a></li>
            <li><a href="/a/servicios/">Servicios basicos</a></li>
            <li><a href="/a/recursos/">Los recursos naturales</a></li>
        </ul>
        <ul id="conocimiento">
            <b>Sistema de producción de café</b>
            <li><a href="/b/produccion/">Producción de café</a></li>
            <li><a href="/b/incidencia/">Variedad, incidencia roya</a></li>
            <li><a href="/b/vivero/">Vivero</a></li>
            <li><a href="/b/autoevaluacion/">Auto. manejo de cafetales</a></li>
            <li><a href="/b/momentos/">Momentos de manejo</a></li>
            <li><a href="/b/insumos/">Uso de insumos</a></li>
            <li><a href="/b/agroecologicos/">Uso de opciones agroecologicas</a></li>
        </ul>
        <ul  id="actitud">
            <b>Beneficiado de café y comercialización</b>
            <li><a href="/c/beneficiados/">Beneficiado 1</a></li>
            <li><a href="/c/beneficiado/"  >Beneficiado 2</a></li>
            <li><a href="/d/precio/">La comercialización</a></li>
            <li><a href="/d/credito/">Crédito para la producción de café</a></li> 
           
        </ul>
        <div class="clean"></div>
        <ul  id="estado">
            <b>Impacto de las plagas y enfermedades</b>
            <li><a href="/e/incidencia-enfermedades/" >Incidendia enfermedades</a></li>
            <li><a href="/e/impacto-roya/" >Impacto de la roya</a></li>
            <li><a href="/e/cambio-poda/" >Cambio de poda</a></li>
            <li><a href="/e/cambio-recepo/" >Cambio de recepo</a></li>
            <li><a href="/e/cambio-variedad/" >Cambio de variedades</a></li>
            <li><a href="/e/manejo-sombra/" >Cambio de manejo de sombra</a></li>
            <li><a href="/e/fertilizacion/" >Cambio de fertilización</a></li>
            <li><a href="/e/fungicidas/" >Cambio de fungicidas</a></li>
        </ul>
        <ul  id="percepcion">
            <b>Formación y perspectiva</b>
            <li><a href="/f/asistencia/" >Asistencia técnica</a></li>
            <li><a href="/f/futuro/">Perspectivas para el futuro</a></li>
        </ul>
        <ul  id="mitigar">
            <b>Seguridad y riesgos</b>
            <li><a href="/g/seguridad/" >Seguridad alimentaria</a></li>
            <li><a href="/g/elclima/">El clima</a></li>
            <li><a href="/g/elsuelo/">El suelo</a></li>
            <li><a href="/g/otros/">Otros riesgos</a></li>
            <li><a href="/g/mitigar/">Mitigación de los riesgos</a></li>  
        </ul>
        <div class="clean"></div>
    </div>
</div>

{% endif %}
{% endblock %}
