{% block content %}
<div class="menu_indicadores">
    <ul>
        <div class="titulo_menu">
         Salidas<a href="/indicadores"></a>   
        </div>
        <li><a href="/b/produccion/">Producción de café</a></li>
        <li><a href="/b/incidencia/">Variedad, incidencia roya</a></li>
        <li><a href="/b/vivero/">Vivero</a></li>
        <li><a href="/b/autoevaluacion/">Auto evaluacion manejo de cafetales</a></li>
        <li><a href="/b/momentos/">Momentos de manejo</a></li>
        <li><a href="/b/insumos/">Uso de insumos</a></li>
        <li><a href="/b/agroecologicos/">Uso de opciones agroecologicas</a></li>
    </ul>
</div>
{% endblock %}
