{% block content %}
<div class="menu_indicadores">
    <ul>
        <div class="titulo_menu">
         Salidas<a href="/indicadores"></a>   
        </div>
            <li><a href="/g/seguridad/" >Seguridad y riesgos</a></li>
            <li><a href="/g/elclima/">El clima</a></li>
            <li><a href="/g/elsuelo/">El suelo</a></li>
            <li><a href="/g/otros/">Otros riesgos</a></li>
            <li><a href="/g/mitigar/">Mitigación de los riesgos</a></li>  
    </ul>
</div>
{% endblock %}
