{% extends "base.html" %}
{% block extratitle %}Beneficiado 2{% endblock %}
{%load ayudar%}
{% block content %}
{% include "encuesta/filtro.html"%}
<br>
<div class="indicadores">
<div class="titulo" style="float:left;"><a href="/indicadores">Indicadores</a></div><div class="titulo" style="float:left;">salidas</div><div class="titulo" style="float:left;">Beneficiado 2</div>
<div class="botones-descarga"><a href="/practica_participa_prevenir.xls"><img src="/files/img/doc.png"></a><a href="/practica_participa_prevenir.pdf"><img src="/files/img/pdf.png"></a></div>
<div class="clean"></div>
</div>
{% include "encuesta/actitud.html" %}
<table>
        <caption>¿De dónde saca el agua para despulpar y lavar?<span class="numencuestas">Encuestas {{conteo}}</span></caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentajes(%)</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in agua_despulpar.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td>{{value|porcentaje:conteo}}</td>    
            </tr>
           {%endfor%}
        </tbody>
    </table>
    <div class="clean"></div>
    <br><br>
<table>
        <caption>¿Dónde fermentan el café?<span class="numencuestas">Encuestas {{conteo}}</span></caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentajes(%)</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in fermenta.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td>{{value|porcentaje:conteo}}</td>    
            </tr>
           {%endfor%}
        </tbody>
    </table>
<div class="clean"></div>
    <br><br>
<table>
        <caption>¿Dónde orean el café?<span class="numencuestas">Encuestas {{conteo}}</span></caption>
        <thead>
             <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentajes(%)</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in orea.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td>{{value|porcentaje:conteo}}</td>    
            </tr>
           {%endfor%}
        </tbody>
    </table>
    <div class="clean"></div>
    <br><br>
    <table>
        <caption>¿Donde se realizan el beneficiado seco?<span class="numencuestas">Encuestas {{conteo}}</span></caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentajes(%)</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in beneficiado.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td>{{value|porcentaje:conteo}}</td>    
            </tr>
           {%endfor%}
        </tbody>
    </table>
    <div class="clean"></div>
    <br><br>
    <table>
        <caption>¿Conoce la calidad de la taza de su café?<span class="numencuestas">Encuestas {{conteo}}</span></caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentajes(%)</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in calidad.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td>{{value|porcentaje:conteo}}</td>    
            </tr>
           {%endfor%}
        </tbody>
    </table>
    <div class="clean"></div>
    <br><br>
    <table>
        <caption>¿Quién determino la calidad de la taza de su café'<span class="numencuestas">Encuestas {{conteo}}</span></caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentajes(%)</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in calidad_cafe.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td>{{value|porcentaje:conteo}}</td>    
            </tr>
           {%endfor%}
        </tbody>
    </table><br><br><br>

 <!--   <div class="contenedor">
    <div class="grafico-title">Gr&aacute;fico  <span class="numencuestas">Encuestas {{numero}}</span></div>
<img src="{{grafo_url}}" alt="¿Participa para prevenir?" title="¿Participa para prevenir?">
    </div> -->
{% endblock %}
