{% extends "base.html" %}
{% block extratitle %}Home{% endblock %}

{% block extrahead %}
<script src="/static/js/cufon-yui.js" type="text/javascript"></script>
<script src="/static/js/cholla.font.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function($) {
        Cufon.replace('.cantidad');
    });
</script>
<style type="text/css">
    .nav .inicio a{
        background-position: 0px -14px;
    }
</style>
    <!-- Older IE stylesheet, to reposition navigation arrows, added AFTER the theme stylesheet above -->
    <!--[if lte IE 7]>
    <link type="text/css" rel="stylesheet"  href="/static/css/anythingslider-ie.css">
    <![endif]-->
    <script src="/static/js/jquery.anythingslider.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet"  href="/static/css/anythingslider.css">
    <link type="text/css" rel="stylesheet"  href="/static/css/theme-metallic.css">
   <script>
        // Set up Sliders
        // **************
        $(function(){

            $('#slider1').anythingSlider({
                startStopped    : false, // If autoPlay is on, this can force it to start stopped
                width           : 960,   // Override the default CSS width
                height           : 248,
                buildArrows         : false,
                theme           : 'metallic',
                easing          : 'easeInOutBack',
                autoPlay        : true,
                delay           : 9000,
                toggleControls      : false,
                toggleArrows        : false,
//              autoPlayLocked  : true,  // If true, user changing slides will not stop the slideshow
//              resumeDelay     : 10000, // Resume slideshow after user interaction, only if autoplayLocked is true (in milliseconds).
                onSlideComplete : function(slider){
                    // alert('Welcome to Slide #' + slider.currentPage);
                },
                stopAtEnd : false,
                onShowStop : function(e, slider){
                    setTimeout(function(){
                        if (slider.currentPage === slider.pages) { slider.gotoPage(1); }
                    }, 5000);
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
 <ul id="slider1" style="margin-left:">
     <li class="panel1">
         <div class="textSlide">
         <span class="rightside" style="padding-right: 0px;"><img src="/static/img/fotos/portada1.jpg" alt="" /></span>
             <div class="info">
               <b style ="font-size:17px;">Finca xxxxx con problema de roya<br> NICARAGUA</b><br><br>
 Mid ultrices! A vut aliquam! Augue dignissim pid et duis lundium, ut! Purus magnis cursus et ridiculus, montes. Tortor dictumst a, nec! Et ultrices? Aliquam risus rhoncus pid, aenean facilisis parturient sit lundium! Augue rhoncus pellentesque. Ridiculus et. Integer etiam et parturient ac lacus, vel tristique ultricies augue.
                <p>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                </p>
                 
            </div>
         </div>
     </li>
     <li class="panel2">
         <div class="textSlide">
         <span class="rightside" style="padding-right: 0px;"><img src="/static/img/fotos/portada2.jpg" alt="" /></span>
             <div class="info">
               <b style ="font-size:17px;">Finca xxxxx con problema de roya<br> NICARAGUA</b><br><br>
Sed pid eu dolor mid velit vut, penatibus, parturient, ultrices ultricies facilisis porttitor rhoncus nec elementum etiam. Amet dapibus lectus! Dictumst, purus placerat augue mid ut nec, ac mid enim placerat tincidunt massa, scelerisque ac.                <p>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                </p>
                
            </div>
         </div>
     </li>
     <li class="panel2">
         <div class="textSlide">
         <span class="rightside" style="padding-right: 0px;"><img src="/static/img/fotos/portada3.jpg" alt="" /></span>
             <div class="info">
               <b style ="font-size:17px;">Finca xxxxx con problema de roya<br> NICARAGUA</b><br><br>
Aenean phasellus integer nascetur sociis, mus, ultrices hac pulvinar natoque in, diam? Pulvinar rhoncus pulvinar amet phasellus. Diam, ac, magna phasellus, proin diam placerat pid porta arcu lundium mauris. Ac vut. Integer magnis magnis sociis placerat. 
                <p>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                </p>
                 
            </div>
         </div>
     </li>
 </ul>

<!--<div class="help">-->

<!--</div>-->
<div class="clean"></div>
<div class="info-bar">
    <h6> Cantidad de encuestas: </h6>
    <div class="cantidad familias">{{familias}}</div>
    
    <a href="/consultar/" class="consultar2">Consultar</a>
</div>
{% endblock %}
