{% extends "base.html" %}
{% block extratitle %}Sistema de producción de café{% endblock %}
{% load ayudar%}
{% block extrahead %}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<script type="text/javascript" src="/files/js/exporting.js"></script>
 <script type="text/javascript" src="/files/js/thema.js"></script>
<script type="text/javascript">
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'bar'
            },
            title: {
                text: '¿Cómo participa?'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (Que dijeron si)'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                },
                bar: {
                        dataLabels: {
                        enabled: true
                    }
                }
            },
            series: [{
         name: 'Promotoría/Capacitación/Acompañamiento',
         data: [{{por_segundo}}]
         
      }, {
         name: 'Asisto a charlas que brindan en la comunidad',
         data: [{{por_primer}}]
      }]
      
        });
    });
</script>
{% endblock %}

{% block content %}
{% include "encuesta/filtro.html"%}
<br>
<div class="indicadores">
<div class="titulo" style="float:left;"><a href="/indicadores">Indicadores</a></div><div class="titulo" style="float:left;">salidas B</div><div class="titulo" style="float:left;">sistema producción café </div>
<div class="botones-descarga"><a href="/practica_como.xls"><img src="/files/img/doc.png"></a><a href="/practica_como.pdf"><img src="/files/img/pdf.png"></a></div>
<div class="clean"></div>
</div>
{% include "encuesta/practica.html" %} 
<table>
        <caption>Sistema de producción de café<span class="numencuestas">Encuestas{{conteo}}</span></caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>2011-12</th>
                <th>2012-13</th>
                <th>2013-14</th>
            </tr>
        </thead>
        {% for k,v in produccion.items %}
            <tr>
                <td>{{k}}</td>
                {% for a in v %}
                    <td>{{a.total}}</td>
                {% endfor %}
            </tr>  
        {% endfor %}
        <tr>
            <td>% Area producción</td>
            <td>{{p_total_doce.doce|porcentaje:area_total_doce.doce}}</td>
            <td>{{p_total_trece.trece|porcentaje:area_total_trece.trece}}</td>
            <td>{{p_total_catorce.catorse|porcentaje:area_total_catorce.catorse}}</td>
        </tr>
        <tr>
            <td>Productividad promedio de las fincas en qq pergamino/mz</td>
            <td>{{pergamino_doce.doce|dividir:p_total_doce.doce}}</td>
            <td>{{pergamino_trece.trece|dividir:p_total_trece.trece}}</td>
            <td>{{pergamino_catorce.catorse|dividir:p_total_catorce.catorse}}</td>
        </tr>
        <tr>
            <td>Productividad promedio de las fincas en qq oro/mz</td>
            <td>{{oro_doce.doce|dividir:p_total_doce.doce}}</td>
            <td>{{oro_trece.trece|dividir:p_total_trece.trece}}</td>
            <td>{{oro_catorce.catorse|dividir:p_total_catorce.catorse}}</td>
        </tr>   
</table>
<div class="clean"></div>
<!--<div class="contenedor">
    <div class="grafico-title">Gr&aacute;fico  <span class="numencuestas">Encuestas si {{numero_si}}</span></div>
    <div id="container" >

    </div>
</div> -->
{% endblock %}
